.main-content h1 {
    color:#674188;
}
.main-content h2{
    color:#674188;
}
.main-content h3{
    color:#674188;
}
.main-content h4{
    color:#674188;
}
.main-content b {
    color:#674188;
}
$link-color: #674188;